
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	grid-gap: 30px;
  }

  .cards {
	max-width: 960px;
	margin: 0 auto 30px;
  }
  
  .article {
	position: relative;
  }


  .article-img {
	height: 99%;
	width: 100%;
	object-fit: cover;
	
  }

  .article .caption {
	display: flex;
    height: 99%;
    width: 100%;
    background-color: rgba(33,37,41,.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .article .caption-content {
	color: #fff;
    margin: auto 2rem 2rem;
  }

  
  .article:hover .caption {
	opacity: 0.3;
  }
  